<h1>Moin, Mien Naam is Shoe Frau!</h1>
<p>
  Allow me to assist you with all of your shoe supply needs. We pride ourselves in putting the soul back into your soles, in the strictist Prussian manner!
</p>

<h3>Store List:</h3>
<% if @stores.any? %>
  <p>Here is the current list of stores. If you don't see what you're looking for here, you can add a store below. If you want to remove a store from this list, select the checkbox and hit the delete button. Finally, if you would like to edit a store name, click on the store name itself.</p>
  <% @stores.each do |store| %>
  <form class="form-group" action="/deletestore" method="post">
    <input type="hidden" name="_method" value="delete">
      <div class="checkbox">
        <label>
          <input type="checkbox" name="store_ids[]" value="<%= store.id %>">
          <a href="/stores/<%= store.id %>"><%= store.name %></a>
        </label>
      </div>
    <% end %>
    <button type="submit" class="btn">Delete store</button>
  </form>
<% else %>
  <p>We need to add stores to our database! How can anyone run a business like this!?</p>
<% end %>



<h4>Add Stores</h4>
<form action="/store/add" method="post">
  <div class="form-group">
    <label for="name">Store Name:</label>
    <input type="text" name="name" class="form-control">
  </div>
  <button type="submit" class="btn">Add store!</button>
</form>

<h3>List of Shoe Brands:</h3>
<% if @brands.any? %>
  <p>Here are the shoe brands that we supply. If you don't see what you're looking for here, you can add a shoe brand below. If you want to delete or edit a brand from the list, click on the shoe brandname.</p>
  <% @brands.each do |brand| %>
    <ul>
      <li><%= brand.brandname %> , $<%= '%.02f' % brand.price %></li>
    </ul>
  <% end %>
<% else %>
  <p>We don't have any brands of shoes in our catalogue! Dat is en Nootfall! How can we be eine Shoe Frau without any shoes?!!! We need to add shoes below.</p></p>
<% end %>

<h4>Add Brands</h4>
<form action="/brand/add" method="post">
  <div class="form-group">
    <label for="brandname">Name of brand:</label>
    <input type="text" name="brandname" class="form-control">
  </div>
  <div class="form-group">
    <label for="price">Average cost of brand:</label>
    <input type="text" name="price" class="form-control">
  </div>
  <button type="submit" class="btn">Add brand!</button>
</form>
