<h1><%= @store.name %></h1>

<h3>Edit Store Name:</h3>

<form action="/stores/<%= @store.id %>/edit" method="post">
  <input type="hidden" name="_method" value="patch">
  <div class="form-group">
    <label for="name">New store name:</label>
    <input name="name" type="text">
  </div>
  <button type="submit" class="btn">Change</button>
</form>

<h2>Shoe Brands at <%= @store.name %>:</h2>
<% if @store.brands.any? %>
  <p>Here are the current brands carried in this store. If you would like to add a shoe brand to this list, you can do so below.</p>
  <% @brands.each do |brand| %>
    <ul>
      <li><a href="/brands/<%= brand.id %>"><%= brand.brandname %> , $<%= brand.price %></a></li>
    </ul>
  <% end %>
<% else %>
  <p>Are you sure this is a shoe store? There aren't any shoe brands carried by this store yet. You should add some from this list:
<% end %>
  
<% @brands.each do |brand| %>
  <form class="form-group" action="/stores/<%= @store.id %>/brands" method="post">
    <div class="checkbox">
      <label>
        <input type="checkbox" name="brand_ids[]" value="<%= brand.id %>">
          <%= brand.name %>, $<%= brand.price %>
      </label>
    </div>
  </form>
<% end %>



<% end %>
